---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app unpackerr
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/nfs-scaler
  interval: 1h
  path: ./kubernetes/apps/downloads/unpackerr/app
  postBuild:
    substitute:
      APP: unpackerr
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: laneth-kubernetes
  targetNamespace: downloads
  timeout: 5m
