---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: bazarr
  namespace: flux-system
spec:
  components:
    - ../../../../components/nfs-scaler
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  path: ./kubernetes/apps/downloads/bazarr/app
  postBuild:
    substitute:
      APP: bazarr
  prune: true
  sourceRef:
    kind: GitRepository
    name: laneth-kubernetes
  targetNamespace: downloads
  wait: false