---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/refs/tags/v8.0.0/schemas/config-schema.json
sonarr:
  sonarr:
    base_url: http://sonarr.downloads.svc.cluster.local
    api_key: !env_var SONARR_API_KEY
    delete_old_custom_formats: true
    media_management:
      propers_and_repacks: do_not_prefer
    media_naming:
      episodes:
        rename: false
      season: default
      series: default
    quality_definition:
      type: series
    quality_profiles:
      - trash_id: 72dae194fc92bf828f32cde7744e51a1 # WEB-1080p
        reset_unmatched_scores:
          enabled: true
    custom_formats:
      - # FLUX trumps REPACKS
        trash_ids:
          - 5d9fd1b1e06cd8a475462f40214b7df6 # FLUX
        assign_scores_to:
          - name: WEB-1080p
            score: 100
      - # Unwanted
        trash_ids:
          - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
          - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
          - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
          - 06d66ab109d4d2eddb2794d21526d140 # Retags
        assign_scores_to:
          - name: WEB-1080p

radarr:
  radarr:
    base_url: http://radarr.downloads.svc.cluster.local
    api_key: !env_var RADARR_API_KEY
    delete_old_custom_formats: true
    media_management:
      propers_and_repacks: do_not_prefer
    media_naming:
      folder: default
      movie:
        rename: false
    quality_definition:
      type: sqp-streaming
    quality_profiles:
      - trash_id: 0896c29d74de619df168d23b98104b22 # SQP-1 (1080p)
        reset_unmatched_scores:
          enabled: true
    custom_formats:
      - trash_ids:
          - 839bea857ed2c0a8e084f3cbdbd65ecb # x265 (no HDR/DV)
        assign_scores_to:
          - name: SQP-1 (1080p)
            score: 0
      - # Unwanted
        trash_ids:
          - 957d0f44b592285f26449575e8b1167e # Special Edition
          - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups
          - cc444569854e9de0b084ab2b8b1532b2 # Black and White Editions
          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup
          - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated
          - 5c44f52a8714fdd79bb4d98e2673be1f # Retags
          - f537cf427b64c38c8e36298f657e4828 # Scene
        assign_scores_to:
          - name: SQP-1 (1080p)
  radarr4k:
    base_url: http://radarr4k.downloads.svc.cluster.local
    api_key: !env_var RADARR_API_KEY
    delete_old_custom_formats: true
    media_management:
      propers_and_repacks: do_not_prefer
    media_naming:
      folder: default
      movie:
        rename: false
    quality_definition:
      type: sqp-uhd
    quality_profiles:
      - trash_id: 5128baeb2b081b72126bc8482b2a86a0 # SQP-1 (2160p)
        reset_unmatched_scores:
          enabled: true
    custom_formats:
      - # Unwanted
        trash_ids:
          - 957d0f44b592285f26449575e8b1167e # Special Edition
          - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups
          - cc444569854e9de0b084ab2b8b1532b2 # Black and White Editions
          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup
          - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated
          - 5c44f52a8714fdd79bb4d98e2673be1f # Retags
          - f537cf427b64c38c8e36298f657e4828 # Scene
        assign_scores_to:
          - name: SQP-1 (2160p)
